
body {
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #243238;
  background-color: #f7f7f7;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: -0.25px;
  word-spacing: 0.65px;
  /* width: 100%;
    height: 100%; */
}
/******************common******************/
h1,
h2,
h3,
p,
a {
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: #484848;
}

/******************HEADER******************/
.header-container {
  /* width: 100%; */
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  display: flex;
  /* justify-content: unset; */
  /* align-items: revert; */
  position: relative;
  background-color: #f7f7f7;
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
}

.main-nav ul {
  display: flex;
  list-style: none;
}

.main-nav ul li a {
  color: #243238;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 5px 20px;
}
.navigation {
  margin-left: auto;
}

.logo a {
  display: block;
}

/******************HERO******************/

.hero {
  background: url(https://croatia.hr/sites/default/files/styles/image_full_width/public/beaches/plaza_jaz_2_foto_ivan_coric.jpg?itok=xoOWPVyg);
  height: 600px;
  background-size: cover;
  width: 100%;

}

.hero h1 {
  font-weight: 700;
  line-height: 1.27;
  font-size: 44px;
  color: #fff;
  width: 100%;
  text-align: left;
  padding: 15px;
  display: inline-block;
  margin-top: 25px;
}
.hero p {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.27;
  margin-top: 100px;
  color: #fff;
  width: 94%;


}

/******************TEKST******************/


/******************SLIKE******************/
.conatiner-slike {
  background-color: #f7f7f7;
}

.conatiner-slike p{
  font-weight: 300;
}

.container {
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
.gallery-container {
  display: grid;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f7f7f7;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.gallery-item {
  flex-basis: 32.7%;
  margin-bottom: 6px;
  opacity: 0.85;
  cursor: pointer;
}
.gallery-item:hover {
  opacity: 1;
}
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.gallery-content {
  font-size: 0.8em;
}

.lightbox {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
}
.lightbox-content {
  position: relative;
  width: 70%;
  height: 70%;
  margin: 5% auto;
}
.lightbox-content img {
  border-radius: 7px;
  box-shadow: 0 0 3px 0 rgba(225, 225, 225, 0.25);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lightbox-prev,
.lightbox-next {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 7px;
  top: 45%;
  cursor: pointer;
}
.lightbox-prev {
  left: 0;
}
.lightbox-next {
  right: 0;
}
.lightbox-prev:hover,
.lightbox-next:hover {
  opacity: 0.8;
}

/******************SLIKE******************/
.slika-more {
  width: 100%;
  background-image: url(https://livedemo00.template-help.com/wt_prod-20838/images/parallax-3.jpg);
  height: auto;
}

.slika-more-tekst {
  width: 100%;
  font-size: 18px;
  line-height: 1.5;
  overflow: hidden;
}
.slika-more p {
  color: #fff;
  font-family: "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
    margin-bottom: 10px;
    height:auto;
}

button {
  position: relative;
  width: 150px ;
  padding: 10px 5px;
  font-size: 14px;
  line-height: 1.2;
  border: 1px solid;
  border-radius: 6px;
  font-family: "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  cursor: pointer;
  margin-top: 5px;
  vertical-align: middle;
  user-select: none;
  transition: 0.25s;
}

.btn {
  color: #fff;
  background-color: #ff830a;
  border-color: #ff830a;
  position: relative;
  vertical-align: middle;
  text-align: center;
  border-radius: 6px;
  font-size: 16px;
  line-height: 1.5;
}

.btn :hover,
:focus {
  text-decoration: none;
}

.btn a {
  text-decoration: none;
  color: #fff;

}

/******************KONTAKT FORMA******************/
.karta-kontakt {
  width: 100%;
  display: grid;
  color: #74757f;
  background-color: #f7f7f7;
  margin: 0 auto;
}

.kontakt-forma {
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  text-align: left;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 300;
  color: #74757f;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: 0.03em;
  position: relative;
  margin:20px auto;
}

.kontakt-forma .kontaktirajte-nas {
  text-transform: uppercase;
  font-weight: 300;
  display: block;
  padding-left: 30px;
}
.conatiner-form-row .form-row {
  position: relative;
  margin: 30px;
}

.conatiner-form-row .input-tekst {
  display: block;
  width: 80%;
  height: 30px;
  color: #74757f;
  border-width: 0 0 1px 0px;
  background-color: #f7f7f7;
  border-color: #ff830a;
  line-height: 2px;
  overflow: hidden;
}
.conatiner-form-row .input-tekst:focus {
  outline: none;
}
.conatiner-form-row .label {
  position: absolute;

  overflow: visible;
}

/******************KONTAKT FORMA******************/

/******************KARTA******************/
.karta {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding-top: 45px;
}

.karta iframe{
  width: 93%;
  height: 370px;
}
/******************KARTA******************/

/******************FOOTER******************/
.footer-container {
  background-color: #122e44 ;
  border-top: 1px solid #DDDDDD;
  margin: 0 auto;
  width: 100%;
  
}
.footer {
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */
  padding-top: 20px;
  margin: 0 auto;
  text-align: left;
}

.linkovi {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  
}

.linkovi p a{
  color: #fff;
}

.footer h2{
  color: #fff;
}

.footer p{
  color: #fff;
  font-weight: 400;
}
.footer h2{
  margin-bottom: 0px;
}

.linkovi {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.footer a:hover {
  color:#aeb1be;
  text-decoration: none;
  transition: 0.3 ease-out;
}

.footer a {
  color:#fff;
  text-decoration: none;
}

/****************** KRAJ FOOTER******************/

/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
  .footer-container {
    width: 100%;
    display: inline-block;
  
  }

  .linkovi {
    width: 20%;
  }

  .btn{
    margin: 10px 0px;
  }

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .gallery-container {
    display: flex;
  }

  .karta-kontakt {
    display: flex;
  }
  .hero p{
    width: 50%;
    margin-top: 70px;
  }
  .footer-container {
    box-sizing: border-box;
    padding-bottom: 20px;
    margin: 0 auto;
    width: 100%;
  }

  .footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
    padding-top: 20px;
    margin: 0 auto;
  }

  .linkovi {
    display: flex;
    flex-direction: column;
  }

  .hero p{
    margin-top:120px;
  }




}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .gallery-container {
    display: flex;
  }
  .karta-kontakt {
    display: flex;
  }
  .footer-container {
   
    width: 100%;
  }

  .footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
    padding-top: 20px;
    margin: 0 auto;
  }

  .linkovi {
    display: flex;
    flex-direction: column;
  }
  .hero p{
    width: 50%;
    margin-top: 100px;
  }


}
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .footer-container {
    box-sizing: border-box;
    padding-bottom: 20px;
    margin: 0 auto;
    width: 100%;
  }

  .footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
    padding-top: 20px;
    margin: 0 auto;
  }

  .linkovi {
    display: flex;
    flex-direction: column;
  }
  .gallery-container {
    display: flex;
  }
  .karta-kontakt {
    display: flex;
  }

  .hero p{
    width: 50%;
    margin-top: 300px;
  }

  .karta iframe{
    width: 50%;
    margin: 0 auto;
  }

  .kontakt-forma{
    width: 100%;
    margin-left: 100px;

  }


 }
